<form class="" action="index.html" method="post">
  <h1>Edit Profile</h1>
  <img src="" alt=""><button type="button" name="button" ng-click="">Add</button>
  Name: <input type="text" name="" value=""  ng-click="">
  Street
  Adress: <input type="text" name="" value=""  ng-click="">
  City: <input type="text" name="" value=""  ng-click="">
  State: <input type="text" name="" value=""  ng-click="">
  Phone Number: <input type="text" name="" value=""  ng-click="">
  E-mail: <input type="text" name="" value=""  ng-click="">
  Business <input type="radio" name="" value=""> Private <input type="radio" name="" value=""  ng-click="">
  Notes: <input type="text" name="" value="" ng-click="">
  <button type="submit" name="button">Submit</button> <button type="button" name="button">Cancel</button>
</form>
