<h1>Meal Planner</h1>
<br>
Servings: <input type="number" name="" value="" ng-model="mPServings">
Meal Type: <input type="text" name="" value="" ng-model="mPMealType">
Diet: <input type="text" name="" value="" ng-model="mPDiet">
Length: <input type="text" name="" value="" ng-model="mPLength">
Variety: <input type="text" name="" value="" ng-model="mPVariety">
<hr>
<a href="#">Macro Calculator</a>
<button type="button" name="button" ng-click="">Plan</button>
<button type="submit" name="button" ng-click="">Save Meal Plan</button>
<hr>
//turn into a ui-view maybe
<form class="" action="index.html" method="post">
  <h4>Apps</h4>
  <li ng-repeat= "item in items">
    <ul>
      {{items.apps.itemId}}
    </ul>
  </li>
  <h4>Entrees</h4>
  <li ng-repeat= "item in items">
    <ul>
      {{items.Entrees.itemId}}
    </ul>
  </li>
  <h4>Sides</h4>
  <li ng-repeat= "item in items">
    <ul>
      {{items.Sides.itemId}}
    </ul>
  </li>
  <h4>Desserts</h4>
  <li ng-repeat= "item in items">
    <ul>
      {{items.Desserts.itemId}}
    </ul>
  </li>
  <h4>Beverages</h4>
  <li ng-repeat= "item in items">
    <ul>
      {{items.Beverages.itemId}}
    </ul>
  </li>
</form>
<button type="submit" name="button" ng-click="">Order</button>
