<form class="" action="index.html" method="post">
  <h1>Order Form</h1>
  Requested date of services: <input type="datetime-local" name="" value="" ng-model="">
  Timeframe: <input type="range" name="" value="" ng-model="">
  Location: <input type="text" name="" value="" ng-model="">
  How many will be served: <input type="number" name="" value="" ng-model="">
  Apps: <input type="search" name="" value="" ng-model=""><button type="submit" name="button" ng-click="">+</button> <button type="reset" name="button" ng-click="">-</button>
  Entrees: <input type="search" name="" value="" ng-model=""><button type="submit" name="button" ng-click="">+</button> <button type="reset" name="button" ng-click="">-</button>
  Sides: <input type="search" name="" value="" ng-model=""><button type="submit" name="button" ng-click="">+</button> <button type="reset" name="button" ng-click="">-</button>
  Desserts: <input type="search" name="" value="" ng-model=""><button type="submit" name="button" ng-click="">+</button> <button type="reset" name="button" ng-click="">-</button>
  Beverages: <input type="search" name="" value="" ng-model=""><button type="submit" name="button" ng-click="">+</button> <button type="reset" name="button" ng-click="">-</button>
</form>

//table to display the order form
<table>
  Order For {{username.name}}
  <hr><hr>
  Date Request: {{orderForm.dateRequest}}
  Timeframe: {{orderForm.timeFrame}}
  Location: {{orderForm.location}}
  Number of People: {{orderForm.served}}
  <hr>

</table>
