<h1>Special Request Form</h1>

Username: {{username.name}}<br>
email: {{username.email}}<br>
Order Number: {{username.orderForm.orderNumber}}<br>
Request: <input type="text" name="" value="" ng-model=""><br>
Is this related to a(n) allergy? <input type="checkbox" name="" value="" ng-model="">Yes <input type="checkbox" name="" value="" ng-model="">No <br>
<input type="checkbox" name="" value="" ng-model=""> I acknwoledge that Special Requests are an additional charge with a minimum service charge of $20, with the addition of incrude costs (example gas, tolls, COST OF THE ITEM, ect...). <br>
<button type="submit" name="button">Submit</button>
<button type="reset" name="button">Cancel</button>
