<aside class="mainMenu">
    <ul>
      <a ui-sref="apps">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Apps</li></span></button>
      </a>

      <a ui-sref="entrees">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Entrees</li></span></button>
      </a>

      <a ui-sref="sides">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Sides</li></span></button>
      </a>

      <a ui-sref="desserts">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Desserts</li></span></button>
      </a>

      <a ui-sref="beverages">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Beverages</li></span></button>
      </a>

      <a ui-sref="specialOrders">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Special Orders</li></span></button>
      </a>
    </ul>
</aside>
