<aside class="mainNav">
    <ul>
      <a ui-sref="home">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Home</li></span></button>
      </a>

      <a ui-sref="menu">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Menu</li></span></button>
      </a>

      <a ui-sref="services">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Services</li></span></button>
      </a>

      <a ui-sref="contact">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Contact Me</li></span></button>
      </a>

      <a ui-sref="about">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>About</li></span></button>
      </a>

      <a ui-sref="shoppingCart">
        <button type="button" name="button" style="vertical-align:middle" class="navButton"><span><li>Shopping Cart</li></span></button>
      </a>
    </ul>
</aside>
